<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a  class="navbar-brand"  href="#"><img src="assets/images/brandbus.jpg"></a>

   <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
     <ul class="navbar-nav ">
    <a style="font-size: 30px" class="nav-link " routerLink="/login" routerLinkActive="Active">Logout]-></a>

     </ul>
   </div>
 </nav>
<!--Background image-->
<div
  class="bg-image"
  style="
    background-image: url('../assets/images/slider.jpg');
    height: 100vh;
  "
>
<app-tabs></app-tabs>
<div class="container-fluid">
<div id="pdfTable" #pdfTable>
  <h2 style="text-align: center;padding-top: 20px;">Your tickets were confirmed </h2>
  <div style="background-color:rgb(214, 237, 247);font-size: 20px;"class="row m-5 p-3">
    <div style="text-align: center;" class="col-md-4">
        {{selectedbus.leavingFrom}} to {{selectedbus.goingTo}}
    </div>
    <div style="text-align: center;" class="col-md-4">
        Departing on : {{selectedbus.departingOn}}
    </div>
    <div style="text-align: center;" class="col-md-4">
         Priya travels
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr style="text-align: center;font-size: 18px;">
        <th>Passenger Names</th>
        <th>Seat No</th>
        <th>Bus type</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;font-size: 18px;">
        <td>{{selectedbus.passangername}}</td>
        <td>{{selectedbus.bookedSeats}}</td>
        <td>{{selectedbus.busType}}</td>
      </tr>
    </tbody>
  </table>
  <div style="background-color: wheat;font-size: 20px;width:200px" class="col-md-4 m-5">
    Paid : {{selectedbus.pay}}/-
</div>
</div>
<button style="margin-top: 20px;" class="btn btn-primary" (click)="downloadAsPDF()">Print the booking details</button>
<button style="margin-top: 20px;" class="btn btn-primary logout-btn" [routerLink]="['/login']">Logout</button>

</div>
</div>
