.navbar-brand {
  max-height: 80px;

}

.slider img {
  width:100%;
  height: 276px;
}


.container {


  margin-left: 200px;


}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 10px 10px 0px;
}

.editable-btn {
  margin-right: 10px;
}




